main {
  padding-top: 75px;
  margin-bottom: 75px;
  width: 80%;
  margin: 0 auto;
}

/* main h2 {
  margin-top: -70px;
  margin-bottom: 75px;
  font-weight: 100;
  font-size: 2rem;
} */
.page-title {
  font-size: 3rem;
  margin-bottom: 50px;
  color: darkgreen;
}

.price {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 75px;
  color: darkgreen;
}

.insurance-price {
  font-weight: 300;
  font-size: 2.5rem;
  color: darkgreen;
}

main img {
  width: 80%;
  margin-top: 50px;
  /* border: 1px solid rgb(160, 216, 214); */
  /* border-radius: 10px; */
}

.main-p {
  font-weight: 100;
  padding: 50px;
  background-color: white;
  border: 1px solid rgb(160, 216, 214);
  border-radius: 10px;
}

.savings {
  color: darkgreen;
  font-size: 1.3rem;
}

#benefits {
  margin-top: 100px;
}

.benefit {
  margin-bottom: 100px;
}

.benefit-title {
  font-size: 2.5rem;
  color: rgb(160, 216, 214);
}

.benefit-description {
  font-size: 1.5rem;
}

.benefit-description {
  font-weight: 100;
}

.hidden {
  display: none;
}

#insurance-message {
  padding: 10px;
  margin-bottom: 100px;
  margin-top: -100px;
  font-weight: 300;
  background-color: white;
}

#insurance-testimony {
  padding: 10px;
  width: 45%;
  position: absolute;
  right: 100px;
  bottom: -716px;
  margin-top: -100px;
  font-weight: 300;
  background-color: white;
}

#insurance-message a {
  color: rgb(222, 170, 40);
}

.bold {
  font-weight: bold;
}

.final-message {
  padding: 20px;
  background-color: white;
  font-weight: 100;
  margin-bottom: 100px;
}

.final-message a {
  color: rgb(222, 170, 40);
}

.hide-content {
  display: none;
}

.show-content {
  display: block;
}

.education-img {
  width: 80%;
  margin: 0 auto;
}

#button-container {
  display: grid;
  margin-top: -50px;
  margin-bottom: 50px;
  text-decoration: none;
}

.education-btn {
  margin: 15px;
  padding: 15px;
  color: white;
  background-color: darkgreen;
  border: 1px solid rgb(160, 216, 214);
  color: rgb(160, 216, 214);
  width: 80%;
}

@media only screen and (min-width: 770px) {
  #push-right {
    margin-right: 50px;
    margin-top: -90px;
  }
  #cta {
    position: absolute;
    top: 120px;
    left: 100px;
    width: 10rem;
    background-color: rgb(222, 170, 40);
    border-radius: 10px;
    color: white;
    z-index: 2;
  }
  #testimony {
    position: absolute;
    top: 350px;
    right: 150px;
    width: 450px;
    background-color: white;
    padding: 25px;
  }

  #mitigation-testimony {
    position: absolute;
    top: 335px;
    right: 150px;
    width: 450px;
    background-color: white;
    padding: 25px;
  }

  #inspection-testimony {
    position: absolute;
    top: 250px;
    right: 400px;
    width: 600px;
    background-color: white;
    padding: 25px;
  }

  .flex-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
  }

  .hidden {
    display: block;
  }

  #top-nav a img {
    margin-top: -1.8rem;
  }

  main {
    padding-top: 85px;
    margin-bottom: 75px;
  }

  main h1 {
    margin-bottom: 100px;
  }

  main p {
    width: 40%;
    margin-top: 50px;

    margin-right: 50px;
  }

  .price {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 60px;
    margin-top: -45px;
  }

  #inspection-price {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 325px;
    margin-top: -45px;
  }

  #savings-img {
    width: 50%;
    margin-right: 455px;
  }

  #insurance-img {
    width: 40%;
    height: 400px;
    margin-bottom: 150px;
  }

  #benefits {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }

  .benefits-card {
    width: 60%;
    margin-right: 0;
  }

  #descriptor-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    justify-items: center;
    margin-top: 70px;
    margin-bottom: -250px;
  }

  #descriptor-container p {
    width: 90%;
  }

  #message-container {
    display: flex;
    border-radius: 10px;
  }

  #mitigation-logo {
    width: 300px;
  }

  /* #benefits {
    display: flex;
    justify-content: center;
  }
  */
}

/* @media only screen and (min-width: 778px) {
  #cta {
    position: absolute;
    top: 350px;
    left: 200px;
    width: 10rem;
    background-color: rgb(222, 170, 40);
    border-radius: 10px;
    color: white;
    z-index: 2;
  }
  #testiony {
    position: absolute;
    top: 200px;
    right: 50px;
    width: 450px;
    background-color: white;
    padding: 25px;
  }
  #inspection-testiony {
    position: absolute;
    top: 290px;
    right: 280px;
    width: 600px;
    background-color: white;
    padding: 25px;
  }
  .flex-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 250px;
  }
  .hidden {
    display: block;
  }
  #top-nav a img {
    margin-top: -1.8rem;
  }
  main {
    padding-top: 125px;
    margin-bottom: 75px;
  }
  main h1 {
    margin-bottom: 100px;
  }
  main p {
    width: 40%;
    margin-top: 50px;
    margin-right: 50px;
  }
  .price {
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 75px;
    margin-top: -75px;
  }
  #savings-img {
    width: 50%;
  }
  #insurance-img {
    width: 40%;
    height: 400px;
  }
  #benefits {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }
  .benefits-card {
    width: 60%;
    margin-right: 0;
  }
  #descriptor-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    justify-items: center;
    margin-top: 100px;
  }
  #descriptor-container p {
    width: 90%;
  }
  #message-container {
    display: flex;
  }
  /* #benefits {
    display: flex;
    justify-content: center;
  }
  */
