:root {
  --primary-color: rgb(204, 235, 204);
  --overlay-color: rgb(0, 70.2, 0);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  scroll-behavior: smooth;
}
body {
  line-height: 1.4;
  text-align: center;
  background-color: rgba(225, 243, 225, 0.85);
}
.shadow {
  box-shadow: 2px 8px 12px 1px rgba(86, 117, 116, 0.45);
}
.btn {
  display: inline-block;
  border: none;
  background: var(--overlay-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}
.btn:hover {
  opacity: 0.7;
}
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.menu-wrap .toggler {
  position: absolute;
  top: 10;
  left: 0;
  z-index: 20;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #deaa28;
}
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #deaa28;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger > div::after,
.menu-wrap .hamburger > div::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div::after {
  top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:after,
.menu-wrap .toggler:checked + .hamburger > div:before {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: rgb(0, 70.2, 0, 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: rgba(160, 216, 214);
  font-size: 1.5rem;
  padding: 1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.hide {
  display: none;
}
#toggleMenu img {
  width: 150px;
}
#nav-logo {
  height: 120px;
  margin-top: -70px;
}
.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  margin-bottom: 75px;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 87vh;
  overflow: hidden;
  background: var(--primary-color) url(../images/video1.mp4) no-repeat center
    center/cover;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.video-container:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.content {
  z-index: 2;
  color: #a0d8d6;
}
.content h1 {
  font-size: 2rem;
}
.content h3 {
  font-size: 1.5rem;
}
.cta-btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  background: var(--overlay-color);
  color: #a0d8d6;
  border-radius: 5px;
  border: solid #a0d8d6 1px;
  margin-top: 25px;
  opacity: 0.7;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
}
.cta-btn:hover {
  box-shadow: 2px 2px 12px 1px #567574;
}
.cta-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#title {
  margin-bottom: 1rem;
  font-size: 3.7rem;
}
#about {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem;
  margin-top: -7.5rem;
}

.contact-number {
  color: #deaa28;
}
.first-letter {
  font-size: 50px;
  line-height: 70px;
  color: #000;
}
#about p {
  font-weight: 300;
  line-height: 1.8;
}
#services {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem;
}
#services a {
  text-decoration: none;
  color: #000;
}
.service-card {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.service-card i {
  font-size: 4rem;
}
.service-card:hover {
  cursor: pointer;
  color: #006400;
}
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
#stories {
  width: 80%;
  margin: 0 auto;
}
.story-card {
  background-color: rgba(160, 216, 214, 0.2);
  color: #000;
  line-height: 1.8;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 5rem;
  border: 1px solid rgba(160, 216, 214);
}
#stories .savings {
  color: #006400;
  font-size: 1.3rem;
}
#message {
  width: 80%;
  margin: 0 auto;
}
iframe {
  margin-bottom: 6rem;
}
#contact {
  margin-top: 75px;
  margin-bottom: 75px;
  width: 80%;
  margin: 0 auto;
}
#contact h1,
h3,
p {
  margin-bottom: 25px;
}
#contact a {
  color: #000;
}
#contact h2 {
  font-weight: 100;
}
#contact p {
  font-weight: 100;
}
footer {
  background-color: var(--overlay-color);
  height: 12rem;
  margin-top: 5rem;
}
footer p {
  width: 90%;
  margin: 0 auto;
  font-weight: 100;
}

.footer-info {
  font-weight: 100;
}

#built-by {
  width: 80%;
}
#logo-container img {
  width: 5rem;
  margin: 0.5rem;
}
.section-title {
  text-transform: uppercase;
  margin-bottom: 75px;
  border-bottom: 1px solid #000;
}
#socials {
  color: rgba(160, 216, 214);
}
#socials a {
  text-decoration: none;
  color: rgba(160, 216, 214);
  font-size: 2rem;
}
#socials a:hover {
  color: rgba(160, 216, 214, 0.5);
}

#video-by {
  color: #8b8b8b;
}

#video-by a {
  font-size: 1rem;
  text-decoration: none;
  color: #8b8b8b;
}
#built-by {
  color: #8b8b8b;
}
#built-by a {
  font-size: 1rem;
  text-decoration: none;
  color: #daa520;
}
.round {
  border-radius: 10px;
}
@media only screen and (min-width: 770px) {
  #cta {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 10rem;
    background-color: #deaa28;
    border-radius: 10px;
    color: white;
    z-index: 2;
  }
  #cta:hover {
    background-color: #faa520;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .hide {
    display: block;
    position: absolute;
    margin-top: -1rem;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #006400;
  }
  #top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 35px;
  }
  #top-nav li {
    position: relative;
    top: -1rem;
  }
  #top-nav a {
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #a0d8d6;
    font-weight: 700;
  }
  #top-nav img {
    margin-top: -2.8rem;
    width: 5rem;
    z-index: 2;
  }
  .menu-wrap {
    display: none;
  }
  #service-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .service-card:hover h1 {
    text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1),
      0 18px 23px rgba(0, 0, 0, 0.1);
  }
  #stories-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .story-card {
    width: 80%;
    display: inline;
    align-self: center;
  }
  .video-container {
    top: 53px;
  }
  #about {
    margin-top: 50px;
  }
  iframe {
    max-width: 650px;
    height: 400px;
  }
  footer {
    height: 8.8rem;
    font-weight: 100;
  }
  .dropdown-container {
    position: relative;
  }
  .dropdown-trigger {
    font-weight: 700;
  }
  .dropdown-content {
    width: 400px;
    position: absolute;
    display: none;
    background-color: rgb(160, 216, 214, 0.97);
    border: 1px solid #006400;
    border-radius: 10px;
    color: #006400;
    box-shadow: 3px 3px 3px 2px #567574;
  }
  .dropdown-container:hover .dropdown-content {
    display: block;
    z-index: 10;
  }
  #sub-nav ul {
    list-style: none;
    padding-top: 75px;
  }
  #sub-nav li {
    margin: 0 auto;
    width: 80%;
  }
  #sub-nav li:hover {
    background-color: #fff;
    box-shadow: 2px 2px 12px 1px #567574;
    border-radius: 10px;
  }
  #sub-nav a {
    color: #006400;
  }

  #sub-nav li:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
